@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:linear-gradient(#16365ed5, #16365ed5);
    font-family: 'Roboto', sans-serif;
    /* background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    height: 100vh; */
}

main{
    font-size: 0.8rem;
    color: white;
}

header{
    width: 100%;
}

header img{
    margin: 1rem ;
    width:4rem;
}

.login{
    width:80%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
   
    
}

.login a{
    text-decoration: none;
    color: white;
}

.current{
    font-weight:bolder;
}

form{
    width: 80%;
    margin: 4rem auto;
}

input{
    width: 100%;
    height: 40px;
    display: block;
    margin: 1rem 0;
    border:none;
    border-radius: 2rem;
}