@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #16365e;
    font-family: 'Roboto', sans-serif;
    
    /* background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    height: 100vh; */
}

main{
    
    font-size: 1.1rem;
    color: white;
    width: 80%;
    margin:0 auto;
}

header{
    width: 100%;
}

header img{
    margin: 1rem ;
    width:4rem;
}

.login{
    width:100%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
   
    
}

.login a{
    text-decoration: none;
    color: white;
}

.current{
    font-weight:bolder;
}

form{
    
    margin: 2rem auto;
}

.field{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.2rem;
}

input{
    width: 100%;
    height: 3rem;
    padding: 0.5rem 0.5rem ;
    border:none;
    border-radius: 0.5rem;
    outline: none;
    border: 2px solid #16365E;
}

input:link{
    border: 2px solid #16365E;
}

input:active{
    border: 2px solid #16365E;
}

input:hover{
    border: 2px solid #16365E;
}



form a {
    width: fit-content;
    color: white;
    display: block;
    margin-top: 0.5rem;
    text-decoration: none;
    text-align: center;
}

.main_btn{
  margin-top: 0;
  color: #ffffff;
  font-weight:bold;
  /* height:3rem; */
    width:100%;
    margin-top: 2rem;
    background-color: rgba(211, 37, 37, 0.829);
    border:none;
    color: #ffffff;
    font-weight: bolder;
    padding: 1rem 0;
    /* border: 2px solid #16365E; */
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.main_btn:hover{
    background-color: rgba(165, 26, 26, 0.829);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.unicode {
    background-color: white;
    width: 10%;
   margin: 2rem 0;
    padding: 0.5rem ;
    border-radius: 0.2rem;
}

.forget{
    font-weight: bolder;
    font-size: 1rem;
}

.description{
    margin:1rem 0;
    width: 85%;
    font-weight: lighter;
    text-align: center;
}

.ff{
    display:flex ;
}

.ff a{
    text-decoration: none;
    color: white;
    font-weight: 900;
}




/* for main page */
.main{
    width: 100%;
}
.map{
    width: 100%;
    margin: 2rem 0;
}

.find-church{
    display: flex;
    gap:0.2rem;
    width: 80%;
   margin: 2rem auto;
}

.find-church a{ 
    text-decoration: none;
    color:#16365e;
    background-color: white;
    padding: 0.5rem 1rem ;
    font-weight: 900;
}

.find-text {
    width: 80%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.arrow{
    text-align: center;
    width: 20%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

#church-select{
    height: 3rem;
    display: block;
    width: 80%;
    margin: 2rem auto;
   font-size: 1.1rem;
    border-radius: 0.5rem;
    color: #16365e;
    font-weight: 900;
}


@media screen and (min-width: 900px) {

    header{
        display: grid;
        place-content: center;

    }

   header img{
       margin-top:2rem;
       height: 10rem;
       width: 10rem;
   }

   main{
       width: 25%;
       margin: 2rem auto;
   }

   .main{
       width: 25%;
   }

   
}




